  <div class="header">
    
    <h2 class="project-title editable"></h2>

    <div class="drop-down">
      %%
    </div>

    <div class="title">
      JustWrite
    </div>

    <div class="menu">

      <div class="menu-heading sub-title">
        <div class="projects">Projects</div>
        <div class="project-drop-down">
          <p class="new-project">Create New Project</p>
          <ul class="project-list"></ul>
        </div>
      </div>

      <div class="menu-heading sub-title new-page">
        Add Page
      </div>

    </div>

  </div>

  <div class="surface"></div>



  <script>
  $(document).ready(function(){
    JustWrite.initialize(); 
    setEditableElements();
    autoSavePageContent(); 
  });


  window.unload = function() {
    saveCurrentPageDimensions({async:false});

    _.each($('.text'), function(div) {
      var text = div.text();
      var pageID = div.parentsUntil('.page').id;
      saveHTMLText(text, pageID);
    });
  };

  </script>


