  <div class="header">

    <h2 class="project-title editable"></h2>

    <div class="title">
      JustWrite
    </div>

    <div class="drop-down">
      <i class="fa fa-angle-down menu-arrow"></i>
    </div>

    <div class="menu">

      <div class="menu-heading project-envelope">
        <div class="projects">
          Projects <i class="fa fa-angle-down project-arrow"></i>
        </div>
        <div class="project-drop-down">
          <p class="new-project">Create New Project</p>
          <ul class="project-list"></ul>
        </div>
      </div>

      <div class="menu-heading sub-title new-page">
        Add Page +
      </div>

    </div>

  </div>




  <script>
  $(document).ready(function(){
    JustWrite.initialize(); 
    setEditableElements();
    autoSavePageContent(); 
  });


  window.unload = function() {
    saveCurrentPageDimensions({async:false});

    _.each($('.text'), function(div) {
      var text = div.text();
      var pageID = div.parentsUntil('.page').id;
      saveHTMLText(text, pageID);
    });
  };

  </script>


