  
  <div class="help-container">
    <div class="help-screen">
      
      <!-- <div class="close-help">x</div> -->

      <div class="help-content">
      <h2>Welcome to <span class="help-title">JustWrite</span></h2> <h3>No fonts. No formatting. No fuss.</h3> 

      <p><span class="help-title">JustWrite</span> is a writing tool designed to get rid the distractions presented by typical word-processors. By providing a minimalist writing space, <span class="help-title">JustWrite</span> allows writers to do just that – just write – without having to worry about tabs, paragraph styles, or margin widths.</p>

      <p><span class="help-title">JustWrite</span> is organized around <span class="help-title">Projects</span> and <span class="help-title">Pages</span>. To start, simply click the arrow icon in the top left of the screen to pull down the <span class="help-title">JustWrite</span> menu. From there you can select to create a new project from scratch from the Projects menu, or you can simply add a page to the blank writing space – this will create a new project for you.</p>

      <p>Once you have a Project loaded, change its name by clicking on the Project Title at the top of the screen. Similarly, to change the name or content of a page, just click on the existing text. <span class="help-title">JustWrite</span> will create a text field and do all the saving for you. Every page is repositionable and resizable. They are also saved automatically as your write.</p>

      <p>To get your writing out of <span class="help-title">JustWrite</span>, click on the <span class="help-title">Download</span> link at the bottom of each page. This will download a text file of the page to your computer.</p>
    
      <p>If you run into any bugs, please let me know at <a href="mailto:steven.edward.doran@gmail.com?Subject=JustWrite" target="_top">steven.edward.doran@gmail.com</a>.</p>
      </div>

    </div>
  </div>

  <div class="header">

    <h2 class="project-title editable"></h2>

    <div class="title">
      JustWrite
    </div>

    <div class="help-icon header-icon">
      ?
    </div>

    <div class="drop-down">
      <i class="fa fa-angle-down header-icon menu-arrow"></i>
    </div>

    <div class="menu">

      <div class="menu-heading project-envelope">
        <div class="projects">
          Projects <i class="fa fa-angle-down project-arrow"></i>
        </div>
        <div class="project-drop-down">
          <p class="new-project">Create New Project</p>
          <ul class="project-list"></ul>
        </div>
      </div>

      <div class="menu-heading sub-title new-page">
        Add Page +
      </div>

    </div>

  </div>




  <script>
  $(document).ready(function(){
    JustWrite.initialize(); 
    setEditableElements();
    autoSavePageContent(); 
  });


  window.unload = function() {
    saveCurrentPageDimensions({async:false});

    _.each($('.text'), function(div) {
      var text = div.text();
      var pageID = div.parentsUntil('.page').id;
      saveHTMLText(text, pageID);
    });
  };

  </script>


