

<div class="page-header"><%- name %></div>
<div class="page-delete">X</div>
<div class="page-footer">Stuff</div>
<div class="ui-resizable-handle ui-resizable-nw" id="nwgrip"></div>
<div class="ui-resizable-handle ui-resizable-ne" id="negrip"></div>
<div class="ui-resizable-handle ui-resizable-se" id="segrip"></div>
<div class="ui-resizable-handle ui-resizable-sw" id="swgrip"></div>
