
<div class="page-header">
  <%- name %>
</div>

<div class="text"><%= text %></div>
<div class="page-footer">
  <div class="page-delete">DELETE PAGE</div>
</div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;" id="segrip"></div>
