

<div class="page-header"><%- name %></div>
<div class="page-delete">
  <button class="delete">DELETE</button>
</div>
<p class="text">Text goes here...</p>
<div class="page-footer">Stuff</div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;" id="segrip"></div>

