

<div class="page-header"><%- name %></div>
<div class="page-delete">DELETE</div>
<p class="text"><%- text %></p>
<div class="page-footer">Footer Stuff</div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;" id="segrip"></div>

