
<div class="page-header">
  <div class="page-name">
    <%- name %>
  </div>
  <div class="page-header-items-envelope">
      <div class="page-header-item page-min">Minimize</div>
      <div class="page-header-item page-delete">Delete</div>
  </div>
</div>

<div class="text"><%= text %></div>
<div class="page-footer">
    <span class="page-download">Download</span>
</div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;" id="segrip"></div>
