
<div class="page-header">
  <div class="page-name">
    <%- name %>
  </div>
    <div class="page-delete">x</div>
</div>

<div class="text"><%= text %></div>
<div class="page-footer">

</div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;" id="segrip"></div>
