/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 *= require_self
 */



 /***** BASE *****/

 html, body {
    margin: 0;
    margin-left: 0;
    height: 100%;
    width: 98.5%;
    top: 0;
    left: 0;
}

h1, h2, h3, .header, .project-title, .project-title .inplace_field, .page-header, .page-header, .page-text-field, .page-footer {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 300; 
    font-size: 2em;
}

h2 {
    font-weight: 100;
    font-size: 2em;
}

h3 {
    font-weight: 300; 
    font-size: 1em;
}

/***** HEADER *****/

.header {
    font-weight: 300; 
    position: relative;
    top: 20px;
    left: 20px;
    /*width: 100%;*/
    /*height: 10%;*/
    z-index: 2;
    background-color: white;
    line-height: 1.51em;
}

.project-title {
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /*z-index: -1;*/
}

.project-title .inplace_field {
    font-weight: 100;
    font-size: .9em;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 1.5em !important;
    float: left;
}

.drop-down {
    font-size: 1.5em;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.menu {
    display: none;
    width: 15%;
    min-width: 175px;
}

.menu-heading {
    text-align: center;
    padding-right: 5%;
    display: inline-block;
    cursor: pointer;
}

.projects {

}

.new-page {

}

.project-drop-down {
    position: absolute;
    background-color: white;
    display: none;
    cursor: auto;
    border-left: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
    border-bottom: solid 1px darkgrey;
}

.new-project {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px

}

.project-list {
    font-weight: 100;
    padding: 0;
    list-style: none;
}

.project {
    /*width: 100%;*/
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.project-name {
    cursor: pointer;
    display: inline-block;
    width:85%;
    overflow: auto;
}

.delete-project {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    float: right;
    width: 9%;
}

/***** SURFACE AND PAGES *****/

.ghost {
    background-color: white;
    position: absolute;
    height: 75vh;
    width: 50vw;
    border: solid 1px darkgrey;
    cursor: move;
    opacity: 0.9;
    display: none;
    z-index: 3;
}

.page {
    height: 75vh;
    width: 50vw;
    min-width: 200px;
    border: solid 1px darkgrey;
    position: absolute !important;
    overflow:hidden;
    background-color: white;
    z-index: 3;
}

.page-header {
    position: relative;
    width: 100%;
    margin-bottom: 1%;
}

.page-text-field {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    width: 49%;
    outline: none;
    border: none;
    margin: 0 auto;
    display: inline-block;
}

.page-name {
    text-align: center;
    float:left;
    width: 49%;
    margin: 0;
}

.page-header-items-envelope {
    float: right;
    width: 49%; 
    margin: 0;
    text-align: right;
    cursor: pointer;
}


.page-header-item {
    display: inline-block;
    font-weight: 300;
    font-size: .75em;
    text-align: right;
    cursor: pointer;
    margin-left: 5%;
}

.text {
    margin: 0 auto;
    width: 98%;
    height: 75%;
    overflow: auto;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
}

.page-text-area {
    width: 98%;
    height: 75%;
    margin: 0 auto;
    position: absolute;
    resize: none;
    outline: none;
    border: none;
    font-family: 'PT Mono', monospace; 
    font-size: 14px;
}

.page-footer {
    position: absolute;
    width: 100%;   
    font-weight: 300; 
    font-size: .75em; 
    bottom: 10px;
    margin-bottom: -5px;

}


.ui-icon-gripsmall-diagonal-se {
    z-index: inherit !important;
}
