/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */


 /*font-family: 'Ubuntu Mono', ;*/
 /*font-family: 'Quicksand', sans-serif;*/
 /*h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/




 body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;  
    padding: 0; 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}


.header {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 10%;
    z-index: 5;
    background-color: rgba(69, 182, 123, 0.8);
}

.drop-down {
    display: inline-block;
    float: left;
    width: 5%;
    cursor: pointer;
}


.menu {
    display: none;
    width: 30%;
}

.menu-heading {
    display: inline-block;
    position: relative;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.title {

}

.sub-title {

}

.projects {

}


.new-page {

}


.project-drop-down {
    position: absolute;
    background-color: rgba(69, 182, 123, 0.8);
    display: none;
}

.new-project {

}

.project-list {
    padding: 0;
}

.project-title {
    position: relative;
    text-align: center;
    width: 30%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    font-size: 2em;
    margin-top: -30px;
    margin: 0 auto;
}




h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;    
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

.surface {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.ghost {
    background-color: white;
    position: absolute;
    height: 50vh;
    width: 30vw;
    border: solid 1px darkgrey;
    cursor: move;
    opacity: 0.9;
    display: none;
    z-index: 2;
}

.page {
    height: 50vh;
    width: 30vw;
    border: solid 1px darkgrey;
    position: absolute !important;
    overflow:hidden;
    background-color: white;
}

.page-header {
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Quicksand', sans-serif;   
    font-weight: 400; 
    font-size: .75em;
}

.page-footer {
    position: absolute;
    width: 100%;
    font-family: 'Quicksand', sans-serif;   
    font-weight: 400; 
    font-size: .75em; 
    bottom: 10px;
    margin-bottom: -5px;

}

.pageTextArea {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Fira Mono', monospace; 
    font-size: 18px;
}

.pageTextField {
    width: 45%;
    height: 60%;
    outline: none;
    border: none;
    margin: 0 auto;
    display: inline-block;
}


.page-delete {
    float: left;
    display: inline-block;
}

.text {
    height: 75%;
    overflow: auto;
    font-family: 'Fira Mono', monospace;
    font-weight: 400; 
    font-size: 18px;
}

.ui-icon-gripsmall-diagonal-se {
    z-index: inherit !important;
}


