/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */


 /*font-family: 'Ubuntu Mono', ;*/
 /*font-family: 'Comfortaa', cursive;*/
 /*h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/

 body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;  
    padding: 0; 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.container {

    height: 100vh;
    width: 100vw;
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 15%;
}

.title {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700; 
    font-size: 3.8em;
}

.project-title {
    text-align: right;
    font-family: 'Comfortaa', cursive;
    font-weight: 400; 
    font-size: 2em;
    width: 50%;
    float: right;
}

h2, h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;    
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.new-page {
    border: solid 1px darkgrey;
    padding: .5%;
    margin-top: 1%;
    margin-left: 2.5%;
    height: 1.5vw;
    width: 1.5vw;
    text-align: center;
    float: left;
    cursor: pointer;
}

.sidebar {
    border: solid 1px darkgrey;
    padding: .5%;
    margin: 0;
    width: 10%;
    height: 500px;
    float: right;
    margin-top: 1%;
}

.clear {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.projects {
    overflow: auto;
    max-height: 80%;
    margin-bottom: 5%;
    font-family: 'Comfortaa', cursive;
    font-weight: 700; 
    font-size: 1em;
}

ul {
    font-family: 'Comfortaa', cursive;
    font-weight: 400; 
    font-size: .75em;
}

.surface {
    float: left;
    height: 100vh;
    width: 83vw;
}

.ghost {
    background-color: white;
    position: absolute;
    height: 50vh;
    width: 30vw;
    border: solid 1px darkgrey;
    cursor: move;
    opacity: 0.9;
    display: none;
    z-index: 2;
}

.page {
    height: 50vh;
    width: 30vw;
    border: solid 1px darkgrey;
    position: absolute !important;
    overflow:hidden;
    background-color: white;
}

.page-header {
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Comfortaa', cursive;
    font-weight: 400; 
    font-size: .75em;
}

.page-footer {
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Comfortaa', cursive;
    font-weight: 400; 
    font-size: .75em;   
}

.pageTextArea {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400; 
    font-size: 18px;
}

.pageTextField {
    width: 45%;
    height: 60%;
    outline: none;
    border: none;
    float: left;
    display: inline-block;
}

.page-delete {
    width: 45%;
    float: left;
    display: inline-block;
}

.text {
    height: 75%;
    overflow: auto;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400; 
    font-size: 18px;
}

.ui-icon-gripsmall-diagonal-se {
    z-index: inherit !important;
}


