<!DOCTYPE html>
<html>
<head>
  <title>JustWrite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fira+Mono|Quicksand:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
      <h1 class='title'>Just Write</h1>
      <h2 class="project-title title editable"></h2>
    </header>
    <div class="new-page">+</div>
    <div class="surface"></div>
    <div class="sidebar">
      <h2>SIDEBAR</h2>
      <h3>PROJECTS</h3>
      <div class="projects">
        <p class="new-project">Create New Project</p>
        <ul class="project-list"></ul>
        <div class="clear"></div>
      </div>
    </div>  
  </div>


  <%= yield %>

</body>
</html>
